*{
    margin: 0;
    padding: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.btn{
    color: white;
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    border-radius: 30px;
    width: 135px;
    height: 44px;
    margin: 24px 200px 24px 0;

}
.btn button{
    color: white;

}

.nav{
    display: flex;
    width: 100%;
    height: 92px;
    justify-content: space-between;
    align-content: center;
    background-color: #1A0B2E;
    border: 1px solid #412567;
    /* padding: 200px 16px; */

}
.logo{
    margin: 16px 0 16px 200px;
}
.logo h3{
    width: 13rem;
    height: 32px;
    /* padding: 16px 0 16px 200px; */
}
.nav .tech{
    color: white;
    font-size: 3.5rem ;
    
}
.nav .wave{
    color: linear-gradient;
    font-size: 3.5rem;
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.manu {
    display: flex;
    list-style: none;
    color: white;
    gap: 32px;
    font-size: 1rem;
    font-size: medium;
    margin-top: 36.5px;
    margin-bottom: 36.5px;

}
.manu a{
    text-decoration: none;
    color: white;
}
.banner{
    width: 100%;
    height: 760px;
    border: 1px solid red;
}
.banner-image{
    position:fixed;
}

.banner-items{
    justify-items: center;
    justify-content: center;
    position: relative;
    /* background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-image:  ; */
    
}
.banner-items{
    
}


.new h5{
    width: 4rem;
    height: 1.6rem;
    background-color: #00FF88;
    color: black;
    /* padding: 30px; */
    font-size: 0.8rem;
    border-radius: 20px;
    /* margin: 100px; */
    padding-left: 25px;
    padding-top: 10px;
    

}
.image-2{
background-color: #F7E93F;
position: absolute;
top: 100px;
/* right: 690px; */
right: 50%;
width: 5%;


}
.banner-items h1{
    color: white;
    font-size: 4rem;
    font-size: bold;
}
.banner-items p{
    color: white;
    font-size: 1rem;
    font-size: medium;
}
.about-section{
    width: 100%;
    height: 646px;
    justify-content: center;
    justify-items: center;
    background-color: #1A0B2E;
    padding: 50px;
}
.about{
    width: 75%;
    height: 222px;
    justify-items: center;
    margin: 0 auto;
    color: white;
    padding-top: 50px;

}
.about h2{
    font-size: 3rem;
    margin-bottom: 20px;
}
.about p{
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 80px;
    text-align: center;
}
.white-line{
    width: 75%;
    height: 1px;
    background: white;
    margin: 80px;
}
.reviwe{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 100px ;
    margin-bottom: 120px;
    text-align: center;
    
}
.reviwe h3{
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.reviwe p{
    color: white;
    font-size: 1rem;
}


@media screen and (max-width:576px) {
    .nav{
        height: 60px;
        background-image: url(./assets/hamburger-menu.png);
        background-repeat: no-repeat ;
        background-position: center right 30px;

    }
  .logo {
    margin: 10px;
  }
  .nav .wave{
    font-size: 2.5rem;
  }
  .nav .tech{
    font-size: 2.5rem;
  }
  .manu {
    display: none;

  }
  .btn{
    display: none;
  }

}